body{
    background-color:black;
    color: white;
    margin: 0;
    background-image: url(../img/nbc.png);
    background-repeat: no-repeat;
    background-position: 74vh 42vh;
}

.main{
    margin-top: 6%;
    padding-left: 15%;
}

.gif_2{
    position: relative;
    top: 0;
    left: 60em;
    height: 190px;
    transform: rotate(-90deg);
}

h1{
    margin: 0;
    text-align: center;
    font-size: 100px;
}
h2{
    text-align: center;
}

.navigation {
    /* display: none; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80%;
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
    /* overflow-y: auto; */
    background-color: gray;
}