body{
    margin: 0;
    
}

/* div{
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 32px;
} */
*{
    
    margin: 0px auto;
}
.main__container {
    max-width: 823px;
    margin: 0px auto;
}
.main__block {
    margin-bottom: 65px;
}
.main__title {
    margin-bottom: 30px;
}
.title {
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 9px;
    position: relative;
    text-align: center;
    padding: 0px 0px 30px 0px;
}
.title:after{
    content: '';
    position: absolute;
    width: 50px;
    bottom: 0;
    height: 1px;
    left: 50%;
    background-color: #000;
    margin-left: -25px;
}
.main__text {
    text-align: center;
    width: 600px;
    height: 66px;
    margin: auto;
    color: #868585;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}
.main__row {
    padding-top: 5vh;
    display: flex;
    font-size: 0;
    margin: 0 -15px;
}
.main__column {
    flex: 0 0 33.333%
}

.column__ico {
    margin: 0 auto;
    border-radius: 50%;
    width: 92px;
    height: 92px;
    border: 2px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.column__title {
    text-align: center;
    color: #000;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    margin-bottom: 35px;
}
.column__text {
    text-align: center;
    width: 183px;
    height: 66px;
    color: #868585;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}



.navigation {
    display: none;
    padding: 20% 0 0 7%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: gray;
}