* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -mos-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    font-family: Inter;
    background-color: #181818;
    color: #fff;
    font-weight: 300;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

.header__container {
    /*        height: 70px;*/
    display: flex;
    justify-content: space-between;
    /*    flex: 0 1 33.333%;*/
}

*.header__logo {
    margin: 10px;
}

.header__logo img {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    padding: 10px;
    margin: 10px;
    transition: outline 0.05s;
    /*  :(  animation not ended*/
}

nav a:hover {
    outline: solid;
}

.btn {
    display: block;
    /* outline: dotted; */
    text-align: center;
    /*    padding: 10px;*/
    line-height: 50px;
    margin: 15px;
    width: 140px;
    background-color: #4452FE;
}


.btn_grey {
    background-color: inherit;
    border: 1px solid white;
}

.work {
    margin-top: 75px;
    margin-bottom: 300px;
}

.txtblock {
    margin-bottom: 60px;
}

.txtblock>div {
    margin: 30px auto;
    text-align: center;
}

.txtblock__title {
    font-size: 50px;
    width: 660px;
    padding: 0 20px;
    /*line-height: 88px;  110% */
}

.txtblock__title h1 {
    font-size: 70px;
    font-weight: 500;
}

.txtblock__text {
    width: 500px;
    font-size: 16px;
    font-weight: 300;
    /*    line-height: 30px;*/
    /* 150% */
}

.work__btns {
    display: flex;
    justify-content: center;
}

.btn:hover {
    /*    background-color: rgba(68, 82, 254, 0.8);*/
    text-decoration: underline;
}

.work__image {
    margin: 0 -22vw;
    /* height: 52vw; */
}

.work__image::after {
    content: "kek";
    display: block;
    scale: 30;
    margin-top: -12vw;
    background-image: linear-gradient(180deg, transparent, rgba(20, 20, 20, 1) 80%)
}

.work__image img {
    position: relative;
    z-index: -1;
    width: 88vw;
    display: block;
    margin: 0 auto;
}


.features {
    margin-bottom: 120px;
}

.features__title h2 {
    text-transform: uppercase;
}

.features__content {
    display: flex;
    gap: 3.125rem;
}

.features__pictures {
    position: relative;
}

.f__pic2 {
    position: absolute;
    bottom: -35px;
    right: -25px;
}

.features__row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item {
    padding: 10px;
}

.item__title {
    font-weight: 500;
    margin-bottom: 10px;
}

.item__title img {
    padding: 0 10px 10px 0;
}


.contents {
    margin-bottom: 100px;
}

.contents__cards {
    display: flex;
    gap: 3.125rem;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    color: #787878;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1.25rem;
}

.card__header {
    color: #181818;
    font-weight: 700;
    font-size: 1.875rem;
    margin-bottom: 30px;
}

.card__text {
    flex: 1 1 6.25rem;
    color: #5c5c5c;
    width: 330px;
    line-height: 1.5rem;
    font-size: 1.275rem;
}

.card__img {
    margin-top: 20px;
}



.gallery {
    margin-bottom: 100px;
}

.wrapper {}

.gallery__title {}

.gallery__show {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-evenly;
}

.gallery__pic {
    /* flex: 1 1 25%; */
}
.gallery__pic img{
    border-radius: 16px;
}

.gallery__btn a{
    margin: 30px auto 0;
}



.partners {
    margin-bottom: 100px;
}
.partners__title {
}
.partners__icons {
    display: flex;
    justify-content: space-evenly;
    margin: 0 100px;
}
.partner_ico a{
    display: inline-block;
    padding: 10px;
}



.testimonials {
    margin-bottom: 100px;
}

.testimonials__title {}

.testimonials__fb {
    display: flex;
    flex-wrap:wrap;
    gap: 15px;
}

.feedback__card {
}

.fbcard {
    flex: 1 1 48%;
    border-radius: 10px;
    border: lightgray 1.5px solid;
    padding: 30px ;
}

.fbcard__main {
    display: flex;
    margin-bottom: 1.875rem;
}
.fbcard__char {
    margin-right: 1.25rem;
}
.fbcard__about > div{
    line-height: 1.45rem;
}
.fbcard__name {
}
.fbcard__job {
}

.fbcard__text {}



.tryit {}

.tryit__block {}

.tryit__text {}

.tryit__btn {}

.tryit__pic {}